---
layout: default
---

<div class="topbar">
  <img class="logo" src="/assets/images/logo.svg"/>
</div>

<div>
  {% include sidebar.html %}
  <div class="main">
    <div class="container">
    {% for group in site.data.navs.items %}
      {% include group.html group=group %}
    {% endfor %}
    
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Banner_ad_1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7239023744663550"
     data-ad-slot="6512618364"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      
    </div>
  </div>
  {% include footer.html %}
</div>
