<footer class="site-footer">
  <div class="container">
    <div class="actions">
      <div class="action donate" href="">
        <img class="icon" src="/assets/img/ic_donate.svg"/>
        <div>打赏杯咖啡</div>
        <img class="qrcode" src="/assets/img/alipay-qrcode.jpg"/>
      </div>
      <a class="action" href="">
        <img class="icon" src="/assets/img/ic_recommend.svg"/>
        <div>推荐酷站</div>
      </a>
      <div class="action" href="">
        <img class="icon" src="/assets/img/ic_contact.svg"/>
        <div>联系我们</div>
        <img class="qrcode" src="/assets/img/wechat-qrcode.jpg"/>
      </div>
    </div>
    <div class="clear"></div>
    <div class="footer-text">
      <p>视频伴侣希望能成为你视频创作的得力助手，让你专注内容创作，成就你的自媒体</p>
      <p>Copyright © 2016-2020 视频伴侣 视频工作者导航</p>
    </div>
  </div>
</footer>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- <script>
  if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
      if (!user) {
          window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
          });
      }
      });
  }
</script> -->

<script>
  $(document).ready(function () {
    $(document).on("scroll", onScroll);

    $('a[href^="#"]').on('click', function (e) {
        e.preventDefault();
        $(document).off("scroll");
        
        $('a').each(function () {
            $(this).removeClass('active');
        })
        $(this).addClass('active');
      
        var target = this.hash,
            menu = target;
        $target = $(target);
        $('html, body').stop().animate({
            'scrollTop': $target.offset().top+2
        }, 300, 'swing', function () {
            window.location.hash = target;
            $(document).on("scroll", onScroll);
        });
    });
  });

  function onScroll(event){
    var scrollPos = $(document).scrollTop();
    $('.nav-menu-item a').each(function () {
      var currLink = $(this);
      var refElement = $(currLink.attr("href"));
      if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
        $('.nav-menu-item a').removeClass("active");
        currLink.addClass("active");
      }
      else{
        currLink.removeClass("active");
      }
    });
  }
  
</script>

<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?8ac16f5819127353437c2ba2e23d8044";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>