<div class="group" id="{{ include.group.groupId }}">
  <div class="group-name">{{ include.group.groupName }}</div>
  <div class="items">
    <div class="row">
      {% for item in include.group.links %}
          {% if item.type == "tutorial" %}
            <div class="col-6 col-md-6 col-lg-4 col-xl-3">
              {% include item-tutorial.html item=item %}
            </div>
          {% elsif item.type == "device" %}
            <div class="col-6 col-md-6 col-lg-4 col-xl-3">
            {% include item-device.html item=item %}
            </div>
          {% else %}
            <div class="col-md-6 col-lg-4 col-xl-3">
            {% include item.html item=item %}
            </div>
          {% endif %}
      {% endfor %}
    </div>
  </div>
</div>