<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {{site.title}}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:image" content="h" />
  <meta property="og:description" content="{{ site.description }}" /> 
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta name="baidu-site-verification" content="code-MV5LFNTY08" />

  <meta name="keywords" content="视频伴侣,视频 导航,视频工具,短视频,视频,视频剪辑,抖音,Bilibili,Youtube,视频制作,VLOG,自媒体,视频素材,音效,摄影器材,相机,VLOG 相机推荐,怎么当up主,视频剪辑软件哪个好,怎么视频剪辑,视频素材免费下载,背景音乐素材,视频音乐素材,音效素材,笑声音效,怎么推广自媒体,怎么涨粉,自媒体是什么,自媒体平台有哪些,怎么拍短视频,怎么剪辑卡点视频,vlog是什么意思,vlog怎么拍,vlog教程,vlog音乐,零基础视频剪辑教程,零基础制作vlog,抠图工具,单反相机入门教程,微单和单反的区别,入门级单反相机推荐">

  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap-grid.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "assets/css/app.css" | prepend: site.qiniu }}?{{ site.time | date: '%s%N' }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->
  <script data-ad-client="ca-pub-7239023744663550" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
